// base.scss

html {
	font-size: 62.5%;
}

body {
	font-family: 'Noto Sans', 'Roboto', 'Arial', sans-serif;
	font-size: $m-size;
	background-color: lightgrey;
}

botton {
	cursor: pointer;

	&:disabled {
		cursor: default;
	}
}

.isActive {
	font-weight: bold;
}
